<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8"/>
  <title>Login</title>
</head>
<body>
    <h1><span>***ACCESS SECRET PAGE***</span></h1>
    <form action="/login" method="post">
        <td>UserName: </td>
        <br/>
        <input type="text" name="username"/>
        <br/>
        <td>Password: </td>
        <br/>
        <input type="password" name="password"/>
        <br/>
        <input type="submit" name="sub"/>
	</form>
</body>
</html>